Maddux.Catch/Web References/wsFCSBugTracker/FCSBugTracker.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws.fortesolutions.ca/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.fortesolutions.ca/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.fortesolutions.ca/">
      <s:element name="SubmitError">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="applicationID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="errorDescription" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sendConfirmation" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitErrorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitErrorResult" type="tns:ArrayOfSubmissionResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSubmissionResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SubmissionResult" type="tns:SubmissionResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SubmissionResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ResultCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitSuggestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="applicationID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="suggestionText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitSuggestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitSuggestionResult" type="tns:ArrayOfSubmissionResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitApplicationUpdateNotification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="applicationID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="versionDesc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitApplicationUpdateNotificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitApplicationUpdateNotificationResult" type="tns:ArrayOfSubmissionResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubmitErrorSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitError" />
  </wsdl:message>
  <wsdl:message name="SubmitErrorSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitErrorResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitSuggestionSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitSuggestion" />
  </wsdl:message>
  <wsdl:message name="SubmitSuggestionSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitSuggestionResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitApplicationUpdateNotificationSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitApplicationUpdateNotification" />
  </wsdl:message>
  <wsdl:message name="SubmitApplicationUpdateNotificationSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitApplicationUpdateNotificationResponse" />
  </wsdl:message>
  <wsdl:portType name="IssueReportingServicesSoap">
    <wsdl:operation name="SubmitError">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Log an application issue into our application issue tracking system.</wsdl:documentation>
      <wsdl:input message="tns:SubmitErrorSoapIn" />
      <wsdl:output message="tns:SubmitErrorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitSuggestion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Submit suggestions for enhancements into our issue tracking system.</wsdl:documentation>
      <wsdl:input message="tns:SubmitSuggestionSoapIn" />
      <wsdl:output message="tns:SubmitSuggestionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitApplicationUpdateNotification">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Submit an application update notification into our issue tracking system.</wsdl:documentation>
      <wsdl:input message="tns:SubmitApplicationUpdateNotificationSoapIn" />
      <wsdl:output message="tns:SubmitApplicationUpdateNotificationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IssueReportingServicesSoap" type="tns:IssueReportingServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitError">
      <soap:operation soapAction="http://ws.fortesolutions.ca/SubmitError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitSuggestion">
      <soap:operation soapAction="http://ws.fortesolutions.ca/SubmitSuggestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitApplicationUpdateNotification">
      <soap:operation soapAction="http://ws.fortesolutions.ca/SubmitApplicationUpdateNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IssueReportingServicesSoap12" type="tns:IssueReportingServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitError">
      <soap12:operation soapAction="http://ws.fortesolutions.ca/SubmitError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitSuggestion">
      <soap12:operation soapAction="http://ws.fortesolutions.ca/SubmitSuggestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitApplicationUpdateNotification">
      <soap12:operation soapAction="http://ws.fortesolutions.ca/SubmitApplicationUpdateNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IssueReportingServices">
    <wsdl:port name="IssueReportingServicesSoap" binding="tns:IssueReportingServicesSoap">
      <soap:address location="http://ws.fortesolutions.ca/bt/FCSBugTracker.asmx" />
    </wsdl:port>
    <wsdl:port name="IssueReportingServicesSoap12" binding="tns:IssueReportingServicesSoap12">
      <soap12:address location="http://ws.fortesolutions.ca/bt/FCSBugTracker.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>